{% extends 'base.html' %}
{% block content %}
<table class="table table-bordered table-hover table-striped mt-3">
	<thead class="table-dark">
		<tr>
			<th>Название</th>
			<th>Категория</th>
			<th>Цена</th>
			<th>Количество студентов</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
		<tr>
			<td>{{ course.title }}</td>
			<td>{{ course.category }}</td>
			<td>{{ course.price }}</td>
			<td>{{ course.student_quantity }}</td>
			<td>
				<button class="btn btn-primary">Купить</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}